body {
    font-family: 'Karla', sans-serif;
    
}

.btn-outline-dark.focus, .btn-outline-dark:focus {
    box-shadow: none;
}

.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: none;
    /* Set padding to keep content from hitting the edges */
}

    .body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.student-row, label, input[type=radio] {
    cursor: pointer;
}


.fixed-top {
    /* Prevents the navigation from overlapping the body content */
    z-index: -1;
}

th {
    white-space: nowrap;
}


img {
    /* Drop shadow for images */
    filter: drop-shadow(0px 5px 1px rgba(0,0,0,0.2));
    -webkit-transition: width 1s; /* Safari */
    transition: width 1s;
}

.btn-group > .btn {
    width: 170px;
}
/* Sets the size of headers to scale with the screen view width */
h1 {
    white-space: nowrap;
    font-size: 2.5vw;
    color: #003e7a;
}

h2 {
    font-size: 2vw;
    font-weight: 200;
    
}

small, a {
    white-space:nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.right {
    float: right;
}

/* prevents h1 from getting crazy big on huge monitors */
@media only screen and (min-width: 2000px) {
    h1 {
        font-size: 2em;
    }
    h2 {
        font-size: 1.5em;
    }
}
@media only screen and (max-width: 1000px) {
    .progress-head {
        display: none;
    }

    .btn-group {
        float: left;
    }

    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1em;
        display: block;
        width: 100%
    }
}



h3 {
    font-size: 1.5em;
    font-weight: 200;
}

/* Remove the background color for the breadcrumb navigation */
.breadcrumb {
    background-color: transparent;
}
/* Prevents the radio description from wrapping with smaller screen sizes */
.form-check .desc {
    white-space: nowrap;
}

