
<header>



<nav class="navbar navbar-light bg-light mb-5">

    <div class="navbar-brand font-weight-bold h2">Idea Course for Learnings</div>
    <ul class="nav nav-pills nav-fill">


        <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="/stepone" class="nav-link">Step 1</a></li>
        <li class="nav-item"><a href="/steptwo" class="nav-link">Step 2</a></li>
        <li class="nav-item"><a href="/stepthree" class="nav-link">Step 3</a></li>
    </ul>
</nav>


</header>

