<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sell Idea</title>
    <link rel="stylesheet" th:href="@{/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/bootstrap-grid.min.css}">
    <link rel="stylesheet" th:href="@{/bootstrap-reboot.min.css}">
    <link rel="stylesheet" th:href="@{/site.css}">

</head>
<body>
<div th:insert="fragments/_header :: header"></div>

<div class="container body-content">
    <img class="rounded mx-auto d-block my-2" th:src="@{/img/step3.png}" height="300" width="300"/>
    <div class="font-md text-center"><h2>Intellectual property very valuable. Make much money selling good ideas. Ideas can be very
        profitable hobby, perhaps become professional idea guy</h2></div>
    <div class="font-md text-center"><h3><a href="/">Return to begin</a></h3></div>


</div>
<div th:insert="fragments/_footer :: footer"></div>
</body>
</html>