<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>How-to Make Ideas</title>
    <link rel="shortcut icon" type="image/png" th:href="@{/img/favicon.png}">
    <link rel="stylesheet" th:href="@{/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/bootstrap-grid.min.css}">
    <link rel="stylesheet" th:href="@{/bootstrap-reboot.min.css}">
    <link rel="stylesheet" th:href="@{/site.css}">

<body class="bg-dark">
<div th:insert="fragments/_header :: header"></div>

<div class="container body-content bg-light py-4">
    <img class="rounded mx-auto d-block my-2" th:src="@{/img/step0.png}" height="300" width="850"/>
    <div class="font-md text-center"><h2>Ideas are cool. How does one make ideas? Learn Now!</h2></div>
    <div class="font-md text-center"><h3><a href="/stepone">Step One</a></h3></div>


</div>
<div th:insert="fragments/_footer :: footer"></div>
</body>
</html>